:host {
    display: flex;
    flex-direction: column;
    
    height: 100%;
}

[page] {
    flex: 1;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    display:flex;
    justify-content: center;
    height: 100%;
    padding-bottom: 20px;;

    [width]{
        display: block;
        padding: 20px;
        width: 100%;
        max-width: 800px;
        margin-bottom: 20px;
        height: fit-content;
    }
}
