<mat-toolbar color="primary">
    <div app-name>
        <mat-icon>code</mat-icon>
        <span>Noel Del Angel Web App</span>
    </div>

    <div logged *ngIf="auth$|async as auth">
        <div links>
            <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a mat-button routerLink="/users" routerLinkActive="active">Users</a>
        </div>
        <button mat-button user-info [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
            <div> 
                Hi, {{auth.name}}! 
                <mat-icon>arrow_drop_down</mat-icon>
            </div>

        </button>
    </div>

</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
    </button>
</mat-menu>